<header>
  <h2>Indique uma música</h2>
  <h3>O que você gostaria de ouvir na nossa festa?</h3>
</header>
<%= semantic_form_for @music_indication do |f| %>
  <%= f.inputs do %>
    <%= f.input :song_name, label: "Nome da música" %>
    <%= f.input :song_artist, label: "Nome do artista" %>
  <% end %>

  <%= f.actions do %>
    <li><%= link_to "Não gosto de música, obrigado!", root_path, class: "cancel" %></li>
    <%= f.action :submit,
                    as: :button,
                    label: "Enviar"
    %>
  <% end %>
<% end %>
